<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_corner_mark0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,140},{102,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>img_corner_mark1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{102,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,44}}</string>
                <key>sourceSize</key>
                <string>{102,44}</string>
            </dict>
            <key>img_corner_mark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{102,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,44}}</string>
                <key>sourceSize</key>
                <string>{102,44}</string>
            </dict>
            <key>img_corner_mark3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{102,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,44}}</string>
                <key>sourceSize</key>
                <string>{102,44}</string>
            </dict>
            <key>img_corner_mark4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>corner_mark.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b1f1fd3572b4362d7c4b37d1e2c5d6a:7d752c99eeff70b3161e5a57336e8143:b8aa565a9cd4477987cc44abae9c3552$</string>
            <key>textureFileName</key>
            <string>corner_mark.png</string>
        </dict>
    </dict>
</plist>
