<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bull1_0x00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{163,1},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{325,1},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{487,1},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{649,1},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{811,1},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{973,1},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1135,1},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1297,1},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1459,1},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x0a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1621,1},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x0b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1,125},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x0c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{163,125},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x0d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{325,125},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{487,125},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{649,125},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{811,125},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{973,125},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1135,125},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1297,125},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1459,125},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1621,125},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1,249},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{163,249},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{325,249},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x1c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{487,249},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x1d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{649,249},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{811,249},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{973,249},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1135,249},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1297,249},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1459,249},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1621,249},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1,373},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{163,373},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{325,373},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x2a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{487,373},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{649,373},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x2c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{811,373},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x2d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{973,373},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1135,373},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1297,373},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1459,373},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1621,373},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1,497},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{163,497},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{325,497},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{487,497},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{649,497},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x3a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{811,497},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x3b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{973,497},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x3c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1135,497},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x3d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1297,497},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x4e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1459,497},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bull1_0x4f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{122,160}</string>
                <key>textureRect</key>
                <string>{{1621,497},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker_myselfCards.png</string>
            <key>size</key>
            <string>{1782,620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40c5de867332032fd3868b0e63c423b1:8941f4c7e2ccf1ae961f09c54b66dd7e:0a2b8af10e36b2b129a90636370a5e09$</string>
            <key>textureFileName</key>
            <string>poker_myselfCards.png</string>
        </dict>
    </dict>
</plist>
