<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish12_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,472},{241,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{241,233}</string>
            </dict>
            <key>fish12_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,472},{241,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{241,233}</string>
            </dict>
            <key>fish12_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,472},{241,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{241,233}</string>
            </dict>
            <key>fish12_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{241,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{241,233}</string>
            </dict>
            <key>fish12_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,237},{241,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{241,233}</string>
            </dict>
            <key>fish12_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,237},{241,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{241,233}</string>
            </dict>
            <key>fish12_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,237},{241,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{241,233}</string>
            </dict>
            <key>fish12_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{241,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{241,233}</string>
            </dict>
            <key>fish12_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{241,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{241,233}</string>
            </dict>
            <key>fish12_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{241,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{241,233}</string>
            </dict>
            <key>fish12_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{241,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{241,233}</string>
            </dict>
            <key>fish12_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{241,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish12.png</string>
            <key>size</key>
            <string>{974,707}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2b880872de3fe89120fddc173026082:f58e7bb71d4afdcaa7a547abf9486ab7:ea223ae0e7c853660f8192570bae73aa$</string>
            <key>textureFileName</key>
            <string>fish12.png</string>
        </dict>
    </dict>
</plist>
