<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish18_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,665},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,665},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,363},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,363},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,363},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move14.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,606},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move16.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,304},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,304},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,2},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,2},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,2},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
            <key>fish18_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,359}}</string>
                <key>sourceSize</key>
                <string>{300,359}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish18.png</string>
            <key>size</key>
            <string>{1991,967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c661f8bd0ecdd91e2a97afa0d0eefc0:135e1b5b6cddd3b7ff2d5bea180096bf:d5775260ac6f16430a513952a7dbd9be$</string>
            <key>textureFileName</key>
            <string>fish18.png</string>
        </dict>
    </dict>
</plist>
