<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish10_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,512},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,512},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,512},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move13.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,342},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move14.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,342},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move15.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,342},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,172},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,172},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,172},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
            <key>fish10_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,168}}</string>
                <key>sourceSize</key>
                <string>{241,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish10.png</string>
            <key>size</key>
            <string>{974,682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a93958fee23b12226f0c8583ee01663:105eddb3749a6197e3ec0313a2dd27cb:93302a3ee37615c593aef099dbd7c22a$</string>
            <key>textureFileName</key>
            <string>fish10.png</string>
        </dict>
    </dict>
</plist>
