<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish11_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{316,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,150}}</string>
                <key>sourceSize</key>
                <string>{316,150}</string>
            </dict>
            <key>fish11_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{316,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,150}}</string>
                <key>sourceSize</key>
                <string>{316,150}</string>
            </dict>
            <key>fish11_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,320},{316,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,150}}</string>
                <key>sourceSize</key>
                <string>{316,150}</string>
            </dict>
            <key>fish11_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,154},{316,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,150}}</string>
                <key>sourceSize</key>
                <string>{316,150}</string>
            </dict>
            <key>fish11_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,154},{316,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,150}}</string>
                <key>sourceSize</key>
                <string>{316,150}</string>
            </dict>
            <key>fish11_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{316,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,150}}</string>
                <key>sourceSize</key>
                <string>{316,150}</string>
            </dict>
            <key>fish11_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{316,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,150}}</string>
                <key>sourceSize</key>
                <string>{316,150}</string>
            </dict>
            <key>fish11_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{316,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,150}}</string>
                <key>sourceSize</key>
                <string>{316,150}</string>
            </dict>
            <key>fish11_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{316,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,150}}</string>
                <key>sourceSize</key>
                <string>{316,150}</string>
            </dict>
            <key>fish11_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,150}}</string>
                <key>sourceSize</key>
                <string>{316,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish11.png</string>
            <key>size</key>
            <string>{942,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d7972a7907f04f8d07d073815319c07:fb69a3587289f9b54fde2f1a2dd7a9a8:95b5d1070c827ab0fa8d8e77cab14f64$</string>
            <key>textureFileName</key>
            <string>fish11.png</string>
        </dict>
    </dict>
</plist>
