<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish17_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1454},{522,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,361}}</string>
                <key>sourceSize</key>
                <string>{522,361}</string>
            </dict>
            <key>fish17_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{522,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,361}}</string>
                <key>sourceSize</key>
                <string>{522,361}</string>
            </dict>
            <key>fish17_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1091},{522,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,361}}</string>
                <key>sourceSize</key>
                <string>{522,361}</string>
            </dict>
            <key>fish17_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1091},{522,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,361}}</string>
                <key>sourceSize</key>
                <string>{522,361}</string>
            </dict>
            <key>fish17_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,728},{522,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,361}}</string>
                <key>sourceSize</key>
                <string>{522,361}</string>
            </dict>
            <key>fish17_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{522,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,361}}</string>
                <key>sourceSize</key>
                <string>{522,361}</string>
            </dict>
            <key>fish17_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,365},{522,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,361}}</string>
                <key>sourceSize</key>
                <string>{522,361}</string>
            </dict>
            <key>fish17_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{522,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,361}}</string>
                <key>sourceSize</key>
                <string>{522,361}</string>
            </dict>
            <key>fish17_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{522,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,361}}</string>
                <key>sourceSize</key>
                <string>{522,361}</string>
            </dict>
            <key>fish17_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{522,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,361}}</string>
                <key>sourceSize</key>
                <string>{522,361}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish17.png</string>
            <key>size</key>
            <string>{1050,1817}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20d2550428e2b650d78d44bffb2aac42:a7ceb2aaea8849870c2bd44f641ed075:ebe65095414f9a69d45d0be1bd8d76fb$</string>
            <key>textureFileName</key>
            <string>fish17.png</string>
        </dict>
    </dict>
</plist>
