<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish30_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3010,624},{750,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,620}}</string>
                <key>sourceSize</key>
                <string>{750,620}</string>
            </dict>
            <key>fish30_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2258,624},{750,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,620}}</string>
                <key>sourceSize</key>
                <string>{750,620}</string>
            </dict>
            <key>fish30_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,624},{750,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,620}}</string>
                <key>sourceSize</key>
                <string>{750,620}</string>
            </dict>
            <key>fish30_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,624},{750,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,620}}</string>
                <key>sourceSize</key>
                <string>{750,620}</string>
            </dict>
            <key>fish30_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{750,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,620}}</string>
                <key>sourceSize</key>
                <string>{750,620}</string>
            </dict>
            <key>fish30_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3010,2},{750,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,620}}</string>
                <key>sourceSize</key>
                <string>{750,620}</string>
            </dict>
            <key>fish30_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2258,2},{750,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,620}}</string>
                <key>sourceSize</key>
                <string>{750,620}</string>
            </dict>
            <key>fish30_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{750,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,620}}</string>
                <key>sourceSize</key>
                <string>{750,620}</string>
            </dict>
            <key>fish30_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{750,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,620}}</string>
                <key>sourceSize</key>
                <string>{750,620}</string>
            </dict>
            <key>fish30_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,620}}</string>
                <key>sourceSize</key>
                <string>{750,620}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish30.png</string>
            <key>size</key>
            <string>{3762,1246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a22be1eab124b4d2616ddf72811a37c:22c817c9a7a04acc16bbaa182762462b:3d9303700b85f8ee126af2f9832bd0dd$</string>
            <key>textureFileName</key>
            <string>fish30.png</string>
        </dict>
    </dict>
</plist>
