<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish2_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,314},{117,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>fish2_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{117,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>fish2_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,236},{117,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>fish2_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{117,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>fish2_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,158},{117,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>fish2_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{117,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>fish2_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,80},{117,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>fish2_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{117,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>fish2_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{117,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>fish2_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish2.png</string>
            <key>size</key>
            <string>{240,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b160acb2b409e0e0339ce0c68451915b:a0ca1af19528641847305deed16fe2ed:18d6e4b02826357f29e30fc69e5f3b7c$</string>
            <key>textureFileName</key>
            <string>fish2.png</string>
        </dict>
    </dict>
</plist>
