<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish25_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,740},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,740},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,740},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,494},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move14.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,494},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move15.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,494},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,248},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,248},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,248},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
            <key>fish25_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{333,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,244}}</string>
                <key>sourceSize</key>
                <string>{333,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish25.png</string>
            <key>size</key>
            <string>{1342,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea36c74d51b9c31df17ec9e8af06bb2d:7bf804638fa818e2d16cd9e4d72bbfb3:dafe475ff94e5a2d3d08017c9df35ca2$</string>
            <key>textureFileName</key>
            <string>fish25.png</string>
        </dict>
    </dict>
</plist>
