<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish15_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,857},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,857},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,857},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,572},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move14.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,572},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move15.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,572},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,287},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,287},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,287},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
            <key>fish15_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,283}}</string>
                <key>sourceSize</key>
                <string>{480,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish15.png</string>
            <key>size</key>
            <string>{1930,1142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b256af1de2ecbf402d25cb01df07ae3:0ef6c79909a7d4e8e4f66115ae2f6026:c065125437a6ec0ea637ce3e58baaf06$</string>
            <key>textureFileName</key>
            <string>fish15.png</string>
        </dict>
    </dict>
</plist>
