<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish9_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,253},{249,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,175}}</string>
                <key>sourceSize</key>
                <string>{249,175}</string>
            </dict>
            <key>fish9_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,179},{249,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,175}}</string>
                <key>sourceSize</key>
                <string>{249,175}</string>
            </dict>
            <key>fish9_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{249,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,175}}</string>
                <key>sourceSize</key>
                <string>{249,175}</string>
            </dict>
            <key>fish9_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{249,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,175}}</string>
                <key>sourceSize</key>
                <string>{249,175}</string>
            </dict>
            <key>fish9_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,253},{249,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,175}}</string>
                <key>sourceSize</key>
                <string>{249,175}</string>
            </dict>
            <key>fish9_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{249,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,175}}</string>
                <key>sourceSize</key>
                <string>{249,175}</string>
            </dict>
            <key>fish9_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,253},{249,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,175}}</string>
                <key>sourceSize</key>
                <string>{249,175}</string>
            </dict>
            <key>fish9_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{249,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,175}}</string>
                <key>sourceSize</key>
                <string>{249,175}</string>
            </dict>
            <key>fish9_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{249,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,175}}</string>
                <key>sourceSize</key>
                <string>{249,175}</string>
            </dict>
            <key>fish9_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,175}}</string>
                <key>sourceSize</key>
                <string>{249,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish9.png</string>
            <key>size</key>
            <string>{961,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0746b02bca8939457f53f87c409a9af7:c3e2395c2b39c7b6f50818a5e1659ca6:ff7482c0f1a9603ba7f5d62e3c2de0e7$</string>
            <key>textureFileName</key>
            <string>fish9.png</string>
        </dict>
    </dict>
</plist>
