<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish22_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1526},{428,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,379}}</string>
                <key>sourceSize</key>
                <string>{428,379}</string>
            </dict>
            <key>fish22_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{428,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,379}}</string>
                <key>sourceSize</key>
                <string>{428,379}</string>
            </dict>
            <key>fish22_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1145},{428,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,379}}</string>
                <key>sourceSize</key>
                <string>{428,379}</string>
            </dict>
            <key>fish22_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1145},{428,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,379}}</string>
                <key>sourceSize</key>
                <string>{428,379}</string>
            </dict>
            <key>fish22_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,764},{428,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,379}}</string>
                <key>sourceSize</key>
                <string>{428,379}</string>
            </dict>
            <key>fish22_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{428,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,379}}</string>
                <key>sourceSize</key>
                <string>{428,379}</string>
            </dict>
            <key>fish22_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,383},{428,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,379}}</string>
                <key>sourceSize</key>
                <string>{428,379}</string>
            </dict>
            <key>fish22_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{428,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,379}}</string>
                <key>sourceSize</key>
                <string>{428,379}</string>
            </dict>
            <key>fish22_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{428,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,379}}</string>
                <key>sourceSize</key>
                <string>{428,379}</string>
            </dict>
            <key>fish22_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,379}}</string>
                <key>sourceSize</key>
                <string>{428,379}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish22.png</string>
            <key>size</key>
            <string>{862,1907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cd0923618535ed6d8d827bf17c75dd8:19e03c6aa9ec541b584ac2cf1632e10b:86df722dd1cd1c369adc9cd3c987ec75$</string>
            <key>textureFileName</key>
            <string>fish22.png</string>
        </dict>
    </dict>
</plist>
