<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish8_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,620},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,620},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,620},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move13.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,414},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move14.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,414},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move15.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,414},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,208},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,208},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,208},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
            <key>fish8_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{217,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish8.png</string>
            <key>size</key>
            <string>{878,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bff2de8d50400f1b6473b34dec397fb6:1578e87ef84bc91196b8443f9611012a:09c34b7262caf05c834f0282eb0a1152$</string>
            <key>textureFileName</key>
            <string>fish8.png</string>
        </dict>
    </dict>
</plist>
