<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish16_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{428,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,284}}</string>
                <key>sourceSize</key>
                <string>{428,284}</string>
            </dict>
            <key>fish16_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,432},{428,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,284}}</string>
                <key>sourceSize</key>
                <string>{428,284}</string>
            </dict>
            <key>fish16_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{428,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,284}}</string>
                <key>sourceSize</key>
                <string>{428,284}</string>
            </dict>
            <key>fish16_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,432},{428,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,284}}</string>
                <key>sourceSize</key>
                <string>{428,284}</string>
            </dict>
            <key>fish16_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{428,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,284}}</string>
                <key>sourceSize</key>
                <string>{428,284}</string>
            </dict>
            <key>fish16_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{428,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,284}}</string>
                <key>sourceSize</key>
                <string>{428,284}</string>
            </dict>
            <key>fish16_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,432},{428,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,284}}</string>
                <key>sourceSize</key>
                <string>{428,284}</string>
            </dict>
            <key>fish16_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{428,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,284}}</string>
                <key>sourceSize</key>
                <string>{428,284}</string>
            </dict>
            <key>fish16_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{428,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,284}}</string>
                <key>sourceSize</key>
                <string>{428,284}</string>
            </dict>
            <key>fish16_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,284}}</string>
                <key>sourceSize</key>
                <string>{428,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish16.png</string>
            <key>size</key>
            <string>{1722,718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:976653b57fcdc4da165f78df2a2e19c3:cb659ad2ec95801dbc734083c2a22404:d2c3fbf0d2a7bf7c32974aaa318e8ba4$</string>
            <key>textureFileName</key>
            <string>fish16.png</string>
        </dict>
    </dict>
</plist>
