<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish1_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,417},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,334},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,305},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move14.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,251},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move16.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,168},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,103},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,85},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fish1_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish1.png</string>
            <key>size</key>
            <string>{287,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11fa0d7ed00cb9b8b6dff687c5fa1ad9:822d0502f301944fe5d83d219362e7ef:342b1f1a1a162ded6a285a652e0ccb97$</string>
            <key>textureFileName</key>
            <string>fish1.png</string>
        </dict>
    </dict>
</plist>
