<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish7_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,171},{199,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,167}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>fish7_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,171},{199,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,167}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>fish7_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,171},{199,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,167}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>fish7_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,171},{199,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,167}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>fish7_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{199,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,167}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>fish7_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{199,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,167}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>fish7_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{199,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,167}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>fish7_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{199,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,167}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>fish7_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,167}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>fish7_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,167}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish7.png</string>
            <key>size</key>
            <string>{1007,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3a7bd19a5d4678934f9aaa8f646258f:a376b33ee8ddb8a98cfdc7cde2888407:e1d69afd8a12d672623181966961c751$</string>
            <key>textureFileName</key>
            <string>fish7.png</string>
        </dict>
    </dict>
</plist>
