<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish29_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1115},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1115},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1115},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1115},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,780},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,744},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move15.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,744},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move16.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,744},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,391},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,373},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,373},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,373},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,2},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
            <key>fish29_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,369}}</string>
                <key>sourceSize</key>
                <string>{387,369}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish29.png</string>
            <key>size</key>
            <string>{1929,1486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64874ba6531593a1bfdc855406c6abf4:5efbc344c9afb476f3b6bcaf939e9e89:9ef9800bbfeb026aaa863531a4362e55$</string>
            <key>textureFileName</key>
            <string>fish29.png</string>
        </dict>
    </dict>
</plist>
