<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish27_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,281},{277,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,277}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>fish27_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{277,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,277}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>fish27_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,281},{277,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,277}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>fish27_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{277,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,277}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>fish27_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,281},{277,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,277}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>fish27_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{277,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,277}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>fish27_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,281},{277,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,277}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>fish27_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{277,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,277}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>fish27_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{277,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,277}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>fish27_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,277}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish27.png</string>
            <key>size</key>
            <string>{1398,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f36f2f4a4281cb3d663f19ef0ca1bf4b:e2c1e3b5248e5a967507d67538d424d1:150b71c68f5028aabe411674b0c40e9d$</string>
            <key>textureFileName</key>
            <string>fish27.png</string>
        </dict>
    </dict>
</plist>
