<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish5_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,394},{133,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,96}}</string>
                <key>sourceSize</key>
                <string>{133,96}</string>
            </dict>
            <key>fish5_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{133,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,96}}</string>
                <key>sourceSize</key>
                <string>{133,96}</string>
            </dict>
            <key>fish5_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,296},{133,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,96}}</string>
                <key>sourceSize</key>
                <string>{133,96}</string>
            </dict>
            <key>fish5_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{133,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,96}}</string>
                <key>sourceSize</key>
                <string>{133,96}</string>
            </dict>
            <key>fish5_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,198},{133,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,96}}</string>
                <key>sourceSize</key>
                <string>{133,96}</string>
            </dict>
            <key>fish5_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{133,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,96}}</string>
                <key>sourceSize</key>
                <string>{133,96}</string>
            </dict>
            <key>fish5_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,100},{133,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,96}}</string>
                <key>sourceSize</key>
                <string>{133,96}</string>
            </dict>
            <key>fish5_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{133,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,96}}</string>
                <key>sourceSize</key>
                <string>{133,96}</string>
            </dict>
            <key>fish5_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{133,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,96}}</string>
                <key>sourceSize</key>
                <string>{133,96}</string>
            </dict>
            <key>fish5_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,96}}</string>
                <key>sourceSize</key>
                <string>{133,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish5.png</string>
            <key>size</key>
            <string>{272,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbff86d9a7479cef15ded03caf6a7729:ff3fcbb08c57281c8e7b2237c512285d:90ebd69d0d0bc3e1d337cb9ed1357ec7$</string>
            <key>textureFileName</key>
            <string>fish5.png</string>
        </dict>
    </dict>
</plist>
