<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish13_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,653},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,653},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,653},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,436},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move14.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,436},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move15.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,436},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,219},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,219},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,219},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
            <key>fish13_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,215}}</string>
                <key>sourceSize</key>
                <string>{418,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish13.png</string>
            <key>size</key>
            <string>{1682,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3932796fad42d101001fd64aefe89a0c:c31a1ba749fe83100b775006d4449ffe:a833a03b0e574b955812b1528efeab52$</string>
            <key>textureFileName</key>
            <string>fish13.png</string>
        </dict>
    </dict>
</plist>
