<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish24_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,450},{297,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,222}}</string>
                <key>sourceSize</key>
                <string>{297,222}</string>
            </dict>
            <key>fish24_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,450},{297,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,222}}</string>
                <key>sourceSize</key>
                <string>{297,222}</string>
            </dict>
            <key>fish24_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,226},{297,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,222}}</string>
                <key>sourceSize</key>
                <string>{297,222}</string>
            </dict>
            <key>fish24_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,226},{297,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,222}}</string>
                <key>sourceSize</key>
                <string>{297,222}</string>
            </dict>
            <key>fish24_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{297,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,222}}</string>
                <key>sourceSize</key>
                <string>{297,222}</string>
            </dict>
            <key>fish24_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{297,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,222}}</string>
                <key>sourceSize</key>
                <string>{297,222}</string>
            </dict>
            <key>fish24_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,450},{297,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,222}}</string>
                <key>sourceSize</key>
                <string>{297,222}</string>
            </dict>
            <key>fish24_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{297,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,222}}</string>
                <key>sourceSize</key>
                <string>{297,222}</string>
            </dict>
            <key>fish24_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{297,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,222}}</string>
                <key>sourceSize</key>
                <string>{297,222}</string>
            </dict>
            <key>fish24_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{297,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,222}}</string>
                <key>sourceSize</key>
                <string>{297,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish24.png</string>
            <key>size</key>
            <string>{899,749}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efcde53b7c1966c6fc14800894ceff15:c0d94060e72e830cf2a5dc811fe2757a:d734f0334f09cce9f6abe07eedb29a8c$</string>
            <key>textureFileName</key>
            <string>fish24.png</string>
        </dict>
    </dict>
</plist>
