<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish20_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1506},{551,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,374}}</string>
                <key>sourceSize</key>
                <string>{551,374}</string>
            </dict>
            <key>fish20_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1506},{551,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,374}}</string>
                <key>sourceSize</key>
                <string>{551,374}</string>
            </dict>
            <key>fish20_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1130},{551,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,374}}</string>
                <key>sourceSize</key>
                <string>{551,374}</string>
            </dict>
            <key>fish20_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{551,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,374}}</string>
                <key>sourceSize</key>
                <string>{551,374}</string>
            </dict>
            <key>fish20_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,754},{551,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,374}}</string>
                <key>sourceSize</key>
                <string>{551,374}</string>
            </dict>
            <key>fish20_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{551,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,374}}</string>
                <key>sourceSize</key>
                <string>{551,374}</string>
            </dict>
            <key>fish20_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,378},{551,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,374}}</string>
                <key>sourceSize</key>
                <string>{551,374}</string>
            </dict>
            <key>fish20_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{551,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,374}}</string>
                <key>sourceSize</key>
                <string>{551,374}</string>
            </dict>
            <key>fish20_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{551,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,374}}</string>
                <key>sourceSize</key>
                <string>{551,374}</string>
            </dict>
            <key>fish20_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{551,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,374}}</string>
                <key>sourceSize</key>
                <string>{551,374}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish20.png</string>
            <key>size</key>
            <string>{1108,1882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f6327926bcfbbe874440fb8b8da385e:083767e01a7c96cfb0c517dd761b2dd2:c556f1867a5bbc986e163ecbcdfbbd8a$</string>
            <key>textureFileName</key>
            <string>fish20.png</string>
        </dict>
    </dict>
</plist>
