<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish26_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,704},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,704},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,704},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,470},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move14.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,470},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move15.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,470},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,236},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,236},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,236},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>fish26_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish26.png</string>
            <key>size</key>
            <string>{1342,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:878fa3ab5e5010f1fe4eeeff76f4b7ba:d7c7817f904a5c84a62ffc8045eaa94b:df1aefcb1f7125d99a94ba58a0454c22$</string>
            <key>textureFileName</key>
            <string>fish26.png</string>
        </dict>
    </dict>
</plist>
