<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish19_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1268},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1268},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1268},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,846},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,846},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move15.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,846},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,424},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,424},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,424},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,2},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
            <key>fish19_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{615,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,420}}</string>
                <key>sourceSize</key>
                <string>{615,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish19.png</string>
            <key>size</key>
            <string>{2470,1690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d811bb7ed61ab0e3f3d24b8f4c0ee10e:47abb58665861d8c8abfaec567e5f45e:b785f67ae0c40437b59ad7e860279e53$</string>
            <key>textureFileName</key>
            <string>fish19.png</string>
        </dict>
    </dict>
</plist>
