<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish14_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,534},{221,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,264}}</string>
                <key>sourceSize</key>
                <string>{221,264}</string>
            </dict>
            <key>fish14_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,491},{221,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,264}}</string>
                <key>sourceSize</key>
                <string>{221,264}</string>
            </dict>
            <key>fish14_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,491},{221,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,264}}</string>
                <key>sourceSize</key>
                <string>{221,264}</string>
            </dict>
            <key>fish14_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{221,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,264}}</string>
                <key>sourceSize</key>
                <string>{221,264}</string>
            </dict>
            <key>fish14_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,268},{221,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,264}}</string>
                <key>sourceSize</key>
                <string>{221,264}</string>
            </dict>
            <key>fish14_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,268},{221,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,264}}</string>
                <key>sourceSize</key>
                <string>{221,264}</string>
            </dict>
            <key>fish14_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,268},{221,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,264}}</string>
                <key>sourceSize</key>
                <string>{221,264}</string>
            </dict>
            <key>fish14_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{221,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,264}}</string>
                <key>sourceSize</key>
                <string>{221,264}</string>
            </dict>
            <key>fish14_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{221,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,264}}</string>
                <key>sourceSize</key>
                <string>{221,264}</string>
            </dict>
            <key>fish14_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{221,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,264}}</string>
                <key>sourceSize</key>
                <string>{221,264}</string>
            </dict>
            <key>fish14_move8.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{221,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,264}}</string>
                <key>sourceSize</key>
                <string>{221,264}</string>
            </dict>
            <key>fish14_move9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,264}}</string>
                <key>sourceSize</key>
                <string>{221,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish14.png</string>
            <key>size</key>
            <string>{1023,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e813bf6fd2d72c628fc042f09887c16:467f260a16b339514eece7d77da8ab17:cd7c44cf89d93d3e4427eb84c78402f8$</string>
            <key>textureFileName</key>
            <string>fish14.png</string>
        </dict>
    </dict>
</plist>
