<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,539},{434,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,320}}</string>
                <key>sourceSize</key>
                <string>{434,320}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{514,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,329}}</string>
                <key>sourceSize</key>
                <string>{514,329}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,333},{548,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,190}}</string>
                <key>sourceSize</key>
                <string>{548,190}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,539},{405,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,421}}</string>
                <key>sourceSize</key>
                <string>{405,421}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,313},{568,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,224}}</string>
                <key>sourceSize</key>
                <string>{568,224}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,952},{320,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,464}}</string>
                <key>sourceSize</key>
                <string>{320,464}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,455}}</string>
                <key>sourceSize</key>
                <string>{508,455}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,975},{427,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,258}}</string>
                <key>sourceSize</key>
                <string>{427,258}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1463},{488,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,323}}</string>
                <key>sourceSize</key>
                <string>{488,323}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1716},{254,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,398}}</string>
                <key>sourceSize</key>
                <string>{254,398}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1463},{524,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,324}}</string>
                <key>sourceSize</key>
                <string>{524,324}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{509,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,404}}</string>
                <key>sourceSize</key>
                <string>{509,404}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{632,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,309}}</string>
                <key>sourceSize</key>
                <string>{632,309}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{468,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,491}}</string>
                <key>sourceSize</key>
                <string>{468,491}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,525},{416,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,374}}</string>
                <key>sourceSize</key>
                <string>{416,374}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1418},{413,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,278}}</string>
                <key>sourceSize</key>
                <string>{413,278}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1655},{361,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,273}}</string>
                <key>sourceSize</key>
                <string>{361,273}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1291},{362,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,309}}</string>
                <key>sourceSize</key>
                <string>{362,309}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,347},{316,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,283}}</string>
                <key>sourceSize</key>
                <string>{316,283}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,975},{348,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,422}}</string>
                <key>sourceSize</key>
                <string>{348,422}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{343,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,285}}</string>
                <key>sourceSize</key>
                <string>{343,285}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,943},{454,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,257}}</string>
                <key>sourceSize</key>
                <string>{454,257}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1655},{376,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,253}}</string>
                <key>sourceSize</key>
                <string>{376,253}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,632},{268,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,347}}</string>
                <key>sourceSize</key>
                <string>{268,347}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,902},{333,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,387}}</string>
                <key>sourceSize</key>
                <string>{333,387}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1404},{389,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,310}}</string>
                <key>sourceSize</key>
                <string>{389,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buhuoicon.png</string>
            <key>size</key>
            <string>{1951,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43af9a1c43c91e5333f344c2383230a7:a2a8c7cfd90fc574895f48d4ee364e03:b63a029b9c430078c66c2418446019ca$</string>
            <key>textureFileName</key>
            <string>buhuoicon.png</string>
        </dict>
    </dict>
</plist>
