<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_video19.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,137},{258,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,61}}</string>
                <key>sourceSize</key>
                <string>{258,61}</string>
            </dict>
            <key>img_video4.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{310,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,66}}</string>
                <key>sourceSize</key>
                <string>{310,66}</string>
            </dict>
            <key>img_video5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{331,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,53}}</string>
                <key>sourceSize</key>
                <string>{331,53}</string>
            </dict>
            <key>img_video9.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,137},{260,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,65}}</string>
                <key>sourceSize</key>
                <string>{260,65}</string>
            </dict>
            <key>img_video_title19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{159,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,32}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>img_video_title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{171,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,32}}</string>
                <key>sourceSize</key>
                <string>{171,32}</string>
            </dict>
            <key>img_video_title5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,30}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>img_video_title9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{169,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,33}}</string>
                <key>sourceSize</key>
                <string>{169,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_video.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79516cd56a3330c1c90a8eebba493ebd:0c2e97790613268d42e05235a90b0201:2bf824ac805e7b5880b1d015f16f0a0d$</string>
            <key>textureFileName</key>
            <string>img_video.png</string>
        </dict>
    </dict>
</plist>
