<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_logo_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{77,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,45}}</string>
                <key>sourceSize</key>
                <string>{77,45}</string>
            </dict>
            <key>img_logo_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,297},{82,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,45}}</string>
                <key>sourceSize</key>
                <string>{82,45}</string>
            </dict>
            <key>img_logo_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,253},{103,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,42}}</string>
                <key>sourceSize</key>
                <string>{103,42}</string>
            </dict>
            <key>img_logo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,271},{83,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,38}}</string>
                <key>sourceSize</key>
                <string>{83,38}</string>
            </dict>
            <key>img_title_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{223,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,60}}</string>
                <key>sourceSize</key>
                <string>{223,60}</string>
            </dict>
            <key>img_title_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{228,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,60}}</string>
                <key>sourceSize</key>
                <string>{228,60}</string>
            </dict>
            <key>img_title_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,62}}</string>
                <key>sourceSize</key>
                <string>{239,62}</string>
            </dict>
            <key>img_title_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{224,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,61}}</string>
                <key>sourceSize</key>
                <string>{224,61}</string>
            </dict>
            <key>img_ty_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{105,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,72}}</string>
                <key>sourceSize</key>
                <string>{105,72}</string>
            </dict>
            <key>img_ty_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,66},{203,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,20}}</string>
                <key>sourceSize</key>
                <string>{203,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_ty.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:847e48d6645e2635a044016dcfa851c1:f9047e275b20f64ccfd6a92647fba38a:ab62d0ff34ce3b4db94d60f6928e2a67$</string>
            <key>textureFileName</key>
            <string>img_ty.png</string>
        </dict>
    </dict>
</plist>
