<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,272},{66,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,135}}</string>
                <key>sourceSize</key>
                <string>{66,135}</string>
            </dict>
            <key>bullet_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,233},{63,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,140}}</string>
                <key>sourceSize</key>
                <string>{63,140}</string>
            </dict>
            <key>bullet_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,232}}</string>
                <key>sourceSize</key>
                <string>{69,232}</string>
            </dict>
            <key>bullet_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{80,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,211}}</string>
                <key>sourceSize</key>
                <string>{80,211}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,272},{71,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,99}}</string>
                <key>sourceSize</key>
                <string>{71,99}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,233},{95,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,140}}</string>
                <key>sourceSize</key>
                <string>{95,140}</string>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,192},{78,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,175}}</string>
                <key>sourceSize</key>
                <string>{78,175}</string>
            </dict>
            <key>bullet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,272},{82,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,120}}</string>
                <key>sourceSize</key>
                <string>{82,120}</string>
            </dict>
            <key>bullet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,84},{106,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,175}}</string>
                <key>sourceSize</key>
                <string>{106,175}</string>
            </dict>
            <key>bullet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{108,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,229}}</string>
                <key>sourceSize</key>
                <string>{108,229}</string>
            </dict>
            <key>bullet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{102,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,141}}</string>
                <key>sourceSize</key>
                <string>{102,141}</string>
            </dict>
            <key>bullet_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{111,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,229}}</string>
                <key>sourceSize</key>
                <string>{111,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_1_13.png</string>
            <key>size</key>
            <string>{509,409}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cae81c93bb7b8123517798c0c1aef4d5:ba63b1b880e8afe334dab6df176503f7:b72deef73d1b4c542aad8e1a5fb1deff$</string>
            <key>textureFileName</key>
            <string>bullet_1_13.png</string>
        </dict>
    </dict>
</plist>
