<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bull1_0x00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1100},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1100},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x02.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1100},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x03.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1100},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x04.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1100},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1100},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,943},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,943},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x08.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,943},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x09.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,943},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x0a.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,943},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x0b.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,943},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x0c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,943},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x0d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,786},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,786},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,786},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x13.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,786},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,786},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,786},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,786},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,629},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,629},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,629},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,629},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,629},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,629},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,629},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,472},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,472},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,472},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,472},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,472},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,472},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,472},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,315},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,315},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,315},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,315},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,315},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,315},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,315},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,158},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,158},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,158},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,158},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,158},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x37.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,158},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x4e.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
            <key>bull1_0x4f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{156,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,205}}</string>
                <key>sourceSize</key>
                <string>{156,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker_myselfCards.png</string>
            <key>size</key>
            <string>{1450,1257}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d28b018549610733075aa87694c2c578$</string>
            <key>textureFileName</key>
            <string>poker_myselfCards.png</string>
        </dict>
    </dict>
</plist>
