<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,281},{130,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,96}}</string>
                <key>sourceSize</key>
                <string>{130,96}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,440},{153,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,98}}</string>
                <key>sourceSize</key>
                <string>{153,98}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,138},{166,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,57}}</string>
                <key>sourceSize</key>
                <string>{166,57}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,306},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,124},{159,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,63}}</string>
                <key>sourceSize</key>
                <string>{159,63}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{120,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,162}}</string>
                <key>sourceSize</key>
                <string>{120,162}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,189},{149,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,90}}</string>
                <key>sourceSize</key>
                <string>{149,90}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,281},{155,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,103}}</string>
                <key>sourceSize</key>
                <string>{155,103}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,121},{88,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,138}}</string>
                <key>sourceSize</key>
                <string>{88,138}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{158,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,97}}</string>
                <key>sourceSize</key>
                <string>{158,97}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,234},{135,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,107}}</string>
                <key>sourceSize</key>
                <string>{135,107}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{162,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,117}}</string>
                <key>sourceSize</key>
                <string>{162,117}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,142},{137,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,143}}</string>
                <key>sourceSize</key>
                <string>{137,143}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,136},{139,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,125}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,281},{157,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,106}}</string>
                <key>sourceSize</key>
                <string>{157,106}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,127},{139,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,105}}</string>
                <key>sourceSize</key>
                <string>{139,105}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{144,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,123}}</string>
                <key>sourceSize</key>
                <string>{144,123}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{154,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,138}}</string>
                <key>sourceSize</key>
                <string>{154,138}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,438},{132,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,102}}</string>
                <key>sourceSize</key>
                <string>{132,102}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,415},{121,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,281},{113,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,132}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,413},{97,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,117}}</string>
                <key>sourceSize</key>
                <string>{97,117}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{170,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,158}}</string>
                <key>sourceSize</key>
                <string>{170,158}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,134}}</string>
                <key>sourceSize</key>
                <string>{199,134}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,431},{114,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,95}}</string>
                <key>sourceSize</key>
                <string>{114,95}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,321},{137,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,77}}</string>
                <key>sourceSize</key>
                <string>{137,77}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,343},{129,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,86}}</string>
                <key>sourceSize</key>
                <string>{129,86}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,400},{101,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,130}}</string>
                <key>sourceSize</key>
                <string>{101,130}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{132,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,159}}</string>
                <key>sourceSize</key>
                <string>{132,159}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,211},{137,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,108}}</string>
                <key>sourceSize</key>
                <string>{137,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishicon.png</string>
            <key>size</key>
            <string>{994,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d04d5102d9f58d297c776ed34ce7d9c:62b6678bf75c5d3e19a6928644532cfe:c46359742b8a2293a3afb5556502f92b$</string>
            <key>textureFileName</key>
            <string>fishicon.png</string>
        </dict>
    </dict>
</plist>
