<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effectTitle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,281},{413,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,137}}</string>
                <key>sourceSize</key>
                <string>{413,137}</string>
            </dict>
            <key>effectTitle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,835},{401,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,137}}</string>
                <key>sourceSize</key>
                <string>{401,137}</string>
            </dict>
            <key>effectTitle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,492},{417,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,137}}</string>
                <key>sourceSize</key>
                <string>{417,137}</string>
            </dict>
            <key>effectTitle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,142},{413,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,137}}</string>
                <key>sourceSize</key>
                <string>{413,137}</string>
            </dict>
            <key>effectTitle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{414,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,138}}</string>
                <key>sourceSize</key>
                <string>{414,138}</string>
            </dict>
            <key>effectTitle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,420},{410,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,138}}</string>
                <key>sourceSize</key>
                <string>{410,138}</string>
            </dict>
            <key>effectTitle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,699},{405,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,134}}</string>
                <key>sourceSize</key>
                <string>{405,134}</string>
            </dict>
            <key>effectTitle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,560},{410,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,137}}</string>
                <key>sourceSize</key>
                <string>{410,137}</string>
            </dict>
            <key>img_shandian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,120}}</string>
                <key>sourceSize</key>
                <string>{489,120}</string>
            </dict>
            <key>img_shandian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{488,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,130}}</string>
                <key>sourceSize</key>
                <string>{488,130}</string>
            </dict>
            <key>img_shandian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{487,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,121}}</string>
                <key>sourceSize</key>
                <string>{487,121}</string>
            </dict>
            <key>img_shandian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{487,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,117}}</string>
                <key>sourceSize</key>
                <string>{487,117}</string>
            </dict>
            <key>img_shandian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,491},{485,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,122}}</string>
                <key>sourceSize</key>
                <string>{485,122}</string>
            </dict>
            <key>img_shandian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,491},{485,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,120}}</string>
                <key>sourceSize</key>
                <string>{485,120}</string>
            </dict>
            <key>img_shandian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{483,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,126}}</string>
                <key>sourceSize</key>
                <string>{483,126}</string>
            </dict>
            <key>img_shandian8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,492},{481,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,101}}</string>
                <key>sourceSize</key>
                <string>{481,101}</string>
            </dict>
            <key>img_shandian_ball1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>img_shandian_ball2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,911},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>img_shandian_ball3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,172},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>img_shandian_ball4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,254},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>img_shandian_ball5.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,89},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>img_shandian_ball6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,334},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>img_shandian_ball7.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,420},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosionAndLightning.png</string>
            <key>size</key>
            <string>{1036,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:229b6f4337e58670fcaa08af95f57495:e3c5740a8eeadaf6480c079e945699d1:0f38f63ad3bdc629ebcf0bb6ac76051a$</string>
            <key>textureFileName</key>
            <string>explosionAndLightning.png</string>
        </dict>
    </dict>
</plist>
