<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tex_sdq1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tex_sdq1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tex_sdq1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,262},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tex_sdq1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tex_sdq1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tex_sdq2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,306},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,306},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,306},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,154},{148,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{150,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,306},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,304},{144,142}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{144,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tex_sdq4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,137}}</string>
                <key>sourceSize</key>
                <string>{352,137}</string>
            </dict>
            <key>tex_sdq4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,137}}</string>
                <key>sourceSize</key>
                <string>{352,137}</string>
            </dict>
            <key>tex_sdq4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,137}}</string>
                <key>sourceSize</key>
                <string>{352,137}</string>
            </dict>
            <key>tex_sdq4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,137}}</string>
                <key>sourceSize</key>
                <string>{352,137}</string>
            </dict>
            <key>tex_sdq4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,137}}</string>
                <key>sourceSize</key>
                <string>{352,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laserBorn.png</string>
            <key>size</key>
            <string>{1159,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1d7d55b749e6f1477b1f23496f252a2:26ad7c2d0850cef72b6c808a1699d0d4:d3280553516182f99e62574280407de3$</string>
            <key>textureFileName</key>
            <string>laserBorn.png</string>
        </dict>
    </dict>
</plist>
