<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1242},{227,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,618}}</string>
                <key>sourceSize</key>
                <string>{227,618}</string>
            </dict>
            <key>missile_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1376},{227,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,618}}</string>
                <key>sourceSize</key>
                <string>{227,618}</string>
            </dict>
            <key>missile_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1376},{227,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,618}}</string>
                <key>sourceSize</key>
                <string>{227,618}</string>
            </dict>
            <key>missile_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{227,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,618}}</string>
                <key>sourceSize</key>
                <string>{227,618}</string>
            </dict>
            <key>missile_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1147},{227,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,618}}</string>
                <key>sourceSize</key>
                <string>{227,618}</string>
            </dict>
            <key>missile_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{227,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,618}}</string>
                <key>sourceSize</key>
                <string>{227,618}</string>
            </dict>
            <key>missile_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{227,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,618}}</string>
                <key>sourceSize</key>
                <string>{227,618}</string>
            </dict>
            <key>missile_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,622},{227,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,618}}</string>
                <key>sourceSize</key>
                <string>{227,618}</string>
            </dict>
            <key>missile_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{227,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,618}}</string>
                <key>sourceSize</key>
                <string>{227,618}</string>
            </dict>
            <key>missile_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{227,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,618}}</string>
                <key>sourceSize</key>
                <string>{227,618}</string>
            </dict>
            <key>missile_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{227,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,618}}</string>
                <key>sourceSize</key>
                <string>{227,618}</string>
            </dict>
            <key>missile_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,618}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,618}}</string>
                <key>sourceSize</key>
                <string>{227,618}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c51e3b92af52f3fa221c4f5ddb01f3bf:74799c37f2b16eda4e480538d5f87a52:af37c4845d2c513b46d67342119e9e19$</string>
            <key>textureFileName</key>
            <string>missile.png</string>
        </dict>
    </dict>
</plist>
